### Pandas

Library for working with `relational` or labeled data, built on top of NumPy package. [<u>more details</u>](https://www.learndatasci.com/tutorials/python-pandas-tutorial-complete-introduction-for-beginners/)

In [ ]:
import pandas as pd

### DataFrame

A DataFrame is a `multi-dimensional table` made up from a collection of Series.

In [ ]:
data = {
    'apples': [3, 2, 0, 1],
    'oranges': [0, 3, 7, 2]
}

df = pd.DataFrame(data)
display(df)

### Read CSV

Import a comma-separated values (csv) file into a `DataFrame`.

In [ ]:
df = pd.read_csv("_data/titanic.csv")
display(df.head())

print("Size:", df.size)
print("Shape:", df.shape)

### Location

Both `iloc` and loc are very useful during search and data cleaning.

In [ ]:
df = pd.read_csv("_data/titanic.csv")

# Select 2nd to 4th row:
display(df.iloc[1:4])

# Select by index (name):
df = df.set_index(df['Name'])
display(df.loc['Allen, Miss Elisabeth Walton'])

### Conditional

Conditional selecting and `filtering` data are common tasks.

In [ ]:
df = pd.read_csv("_data/titanic.csv")

females = df[df['Sex'] == 'female']
males_60 = df[(df['Sex'] == 'male') & (df['Age'] >= 60)]

print("Females:", females.size)
display(females.head())

print("Males age 60+:", males_60.size)
display(males_60.head())

### Replace

Replace accepts `regex` regular expressions.

In [ ]:
df = pd.read_csv("_data/titanic.csv")

# Replace female/male
df['Sex'] = df['Sex'].replace(['female', 'male'], ['Woman', 'Man'])
df['PClass'] = df['PClass'].replace(r'1st', 'First', regex=True)

display(df.head())

### Statistics

Pandas has multiple `built-in methods` for descriptive statistics.

In [ ]:
df = pd.read_csv("_data/titanic.csv")

# Statistics (by Age)
A = pd.DataFrame()
A['max'] = [df['Age'].max()]
A['min'] = [df['Age'].min()]
A['avg'] = [df['Age'].mean()]
display(A)

# Value counts (by PClass)
A = pd.DataFrame()
A['PClass'] = df['PClass'].value_counts()
display(A)

# Unique values (by Sex)
A = pd.DataFrame()
A['unique_value'] = df['Sex'].unique()
A['total'] = [df['Sex'].value_counts()[0], df['Sex'].value_counts()[1]]
display(A)

# Missing values (by Agge)
A = pd.DataFrame()
A = df[df['Age'].isnull()]

print("Missing values (Age):", A.size)
display(A.head())

### GroupBy

Groupby is one of the `most powerful` feature in pandas.

In [149]:
df = pd.read_csv("_data/titanic.csv")

A = df.groupby('Sex').count()
display(A)

A = df.groupby('Sex').mean(numeric_only=True)
display(A)

A = df.groupby('Sex')['Survived'].count()
display(A)

A = df.groupby(['Sex', 'Survived']).mean(numeric_only=True)
display(A)

        Name  PClass  Age  Survived  SexCode
Sex
female   462     462  288       462      462
male     851     851  468       851      851

              Age  Survived  SexCode
Sex
female  29.396424  0.666667      1.0
male    31.014338  0.166863      0.0

Sex
female    462
male      851
Name: Survived, dtype: int64

                       Age  SexCode
Sex    Survived
female 0         24.901408      1.0
       1         30.867143      1.0
male   0         32.320780      0.0
       1         25.951875      0.0